body{
    margin: 0;
}

#jam{
    display: flex;
    margin-left: 25px;
    width: 150px;
    height: 50px;
}

.j{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: url(/JAM/img/Black.svg);
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}



a{
    color: white;
    text-decoration: none;
}


#main{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://pixy.org/src2/579/5798439.jpg);
    background-size: 1200px;
    width: 100%;
    height: 800px;
    color: white;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Disa{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.foto{
    background: url(img/Disa.jpeg);
    background-size: 600px;
    height: 400px;
    width: 35%;
    color: white;
    background-position: center;
}

.fotot{
    background: url(img/Aibuk.jpeg);
    background-size: 500px;
    height: 400px;
    width: 35%;
    color: white;
    background-position: center;
}

.fotothr{
    background: url(img/Beka.jpeg);
    background-size: 600px;
    height: 400px;
    width: 35%;
    color: white;
    background-position: center;
}

