body{
    margin: 0;
}

#r{
    margin-left: 50px;
}

#navbarSupportedContent{
    margin-left: 20px;
}

#fon{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/JAM/img/guitarist.jpg);
    background-size: 1500px;
}





.first{
    padding: 15px;
    color: white;
    max-width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

b{
    font-size: 6vw;
}

.list{
    font-size: calc(1.2rem + 0.5vw);
}

.form{
    background-color: rgb(234, 234, 234);
    width: 400px;
    min-width: 200px;
    min-height: 400px;
    border-radius: 7%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.form div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.y_name input{
    width: 100%;
    height: 60px;
    border-radius: 15px;
}

.type p{
    width: 100%;
}

.number input{
    width: 100%;
}

.light{
    width: 100px;
}





.learn{
    background-color: rgb(220, 220, 220);
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.you_can{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.you_can p{
    font-size: calc(2rem + 1vw);
}

.pluses{
    width: 80%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.pluses div{
    background-color: white;
    border-radius: 15px;
    min-width: 250px;
    min-height: 200px;
    max-width: 350px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.m{
    padding: 15px;
}





.blog{
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.b_guitar{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.cards{
    width: 80%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

.card{
    min-width: 200px;
    max-width: 250px;
    max-height: 450px;
    background-color: rgb(194, 194, 194);
}

.img1{
    max-width: 100%;
}

.margin_card{
    padding: 0 15px 15px 15px;
}

p{
    margin-bottom: 0;
}





#education{
    min-height: 1000px;
    width: 100%;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.how{
    padding-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_block{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.block{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.block_reverse{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.img{
    max-width: 500px;
}

.text{
    max-width: 450px;
}

.but{
    padding-top: 40px;
    padding-bottom: 50px;
}






#students{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s{
    width: 90%;
    display: flex;
    justify-content: center;
}

.slider-container {
    overflow: hidden;
    width: 1000px; /* Ширина контейнера, в котором будут отображаться фотографии */
    height: 400px;
    position: relative;
}
  
.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s;
    transform: translate(25%);
}
  
.slider-container .slider .slide1, .slide2, .slide3 {
    flex: 0 0 50%; /* Увеличили ширину каждого слайда для видимости следующего слайда */
    height: 100%;
    margin: 5px; /* Расстояние между слайдами */
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 164, 164);
    border-radius: 40px;
}
  
.description{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.description b{
    font-size: calc(1rem + 1vw);
}





#fullscreenDiv{
    width: 100%;
    display: none;
    justify-content: center;
}

.width{
    width: 60%;
}

.picture{
    width: 100%;
}

.picture_advise{
    width: 100%;
}

.exit{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.exit button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreenDiv2, #fullscreenDiv3, #fullscreenDiv4{
    width: 100%;
    display: none;
    justify-content: center;
}