body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#jam{
    display: flex;
    margin-left: 25px;
    width: 150px;
    height: 50px;
}

.j{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background: url(/JAM/img/Black.svg);
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}

a{
    color: white;
    text-decoration: none;
}

.first{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://vogazeta.ru/uploads/1557747981-a4f55da0406fc8ce2ede38f5fba4920d.jpg);
    background-size: 1500px;
    color: white;
    max-width: 100%;
    height: 800px;
    display: flex;
    text-align: center;
    align-items: center;
}





#napravlenie{
    background-color: white;
    min-height: 730px;
    color: white;
}

.direct{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#ins{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.instrumentg, .instrumentp, .instrumentd, .instrumentf, .instrumento, .instrumentv, .instrumentu{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 270px;
    min-height: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    background-position: center center;
    border-radius: 25px;
}

.instrumentp{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://s8.hostingkartinok.com/uploads/images/2018/09/66ee2632b62f5d628b98925ecc1b163f.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentp:hover{
    transition: 0.5s;
    background-size: 650px;
}

.instrumentg{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://cdn.culture.ru/images/319bcc77-dd02-5e4d-a6f5-8bade4d63bdd);
    background-size: 450px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentg:hover{
    transition: 0.5s;
    background-size: 550px;
}

.instrumentd{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://kartinkin.net/uploads/posts/2022-12/1670319783_1-kartinkin-net-p-baraban-kartinka-oboi-1.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentd:hover{
    transition: 0.5s;
    background-size: 550px;
}

.instrumentf{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://www.lessonface.com/sites/default/files/user-files/1649/person-playing-wind-instrument-2254140.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentf:hover{
    transition: 0.5s;
    background-size: 550px;
}

.instrumentu{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.pinimg.com/originals/2e/3c/a1/2e3ca1d5f9e0048c1da2d43403a9062d.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentu:hover{
    transition: 0.5s;
    background-size: 500px;
}

.instrumentv{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.pinimg.com/originals/42/1e/1a/421e1aa5714df25483ea6e0603b7bd75.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumentv:hover{
    transition: 0.5s;
    background-size: 600px;
}

.instrumento{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://akkordeon-shop.ru/upload/catalog/ru/weltmeister-s4.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.instrumento:hover{
    transition: 0.5s;
    background-size: 550px;
}





#cause{
    background-color:  rgb(233, 233, 233);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.why{
    padding-top: 20px;
}

.causes{
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
    height: auto;
    display: none;
}

.school {
    margin-left: 10%;
    margin-right: 10%;
}

.school p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.school h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.dvepolosi{
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.c{
    flex: 1;
}