body{
    margin: 0;
}

#r{
    margin-left: 50px;
}

#navbarSupportedContent{
    margin-left: 20px;
}

#first{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/8babe8628e9471ae5f962d112775073c1ae3924ccbc49d6c149c90f8c168a233._RI_.jpg);
    background-size: 1700px;
    width: 100%;
    min-height: 800px;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    width: 50%;
    height: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vibor{
    padding-top: 150px;
}

.try{
    padding-top: 70px;
    color: white;
}

.r{
    color: black;
}

#ret{
    display: flex;
    justify-content: center;
    align-items: center;
}

#but1{
    max-width: 250px;
    height: 50px;
    border-radius: 40px;
    background: transparent;
    border-bottom: 2px solid #787878;
    color: white
}

#but{
    max-width: 250px;
    height: 50px;
    border-radius: 40px;
    background: transparent;
    border-bottom: 2px solid #787878;
    color: black;
}

main{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    height: 200px;
}